<a href="https://colab.research.google.com/github/chunheekim/study/blob/main/05%EB%B0%98%EB%B3%B5%EB%AC%B8(for)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**for 문**

# **for 문의 기본 구조**
```
1 for 변수 in 리스트(또는 튜플 , 문자열):
2     수행할 문장1
3     수행할 문장2
4     ...
```

# **for문 이해하기**

* 전형적인 for 문


>```
1  test_list = ['one', 'two', 'three']
2  for i in test_list:
3      print(i)
```

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three


* 다양한 for 문의 사용
```
1  a = [(1,2), (3,4), (5,6)]
2  for (first, last) in a:
3      print(first + last)
```
위 예는 a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 자동으로 (first, last) 변수에 대입된다.

In [1]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

* for 문의 응용


> 점수를 차례로 검사해서 합격했는지 불합격했는지 통보해 주는 프로그램을 만들어 보자.
```
총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다. 
합격인지 불합격인지 결과를 보여주시오.
```

```
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)
```

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

# **for 문과 함께 자주 사용하는 range 함수**

* for 문은 숫자 리스트를 자동으로 만들어 주는 range 함수와 함께 사용하는 경우가 많다.

* range(10) 은 0 부터 10 미만의 숫자를 포함하는 range 객체를 만들어 준다.

* 시작 숫자와 끝 숫자를 지정하려면 range(시작 숫자, 끝 숫자) 형태를 사용하는데, 이때 끝 숫자는 포함되
지 않는다.

```
1  a = range(10)
2  print(a)
```

In [ ]:
a = range(10)
print(a)

**range 함수의 예시 살펴보기**

* for 와 range 함수를 사용하여 1 부터 10 까지 합 구하기 
```
1  add = 0
2  for i in range(1, 11):
3     add = add + i
4  print(add)
```

In [2]:
add = 0
for i in range(1, 11):
    add = add + i
print(add)

55

* “60 점 이상이면 합격”이라는 문장을 출력
```
1 # marks3.py
2 marks = [90, 25, 67, 45, 80]
3 for number in range(len(marks)):
4   if marks[number] < 60:
5       continue
6   print("%d번 학생 축하합니다. 합격입니다." % (number+1))
```
* len() 함수는 리스트 안의 요소 개수를 돌려주는 함수, 따라서 len(marks)는 5
* range(len(marks))는 range(5), number 변수에는 차례로 0 부터 4 까지의 숫자 대입
* marks[number]는 차례대로 90, 25, 67, 45, 80 값

In [ ]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
print("%d번 학생 축하합니다. 합격입니다." % (number+1))

**for 와 range 를 이용한 구구단**
```
1  for i in range(2,10): # 1번 for문
2     for j in range(1, 10): # 2번 for문
3         print('%d*%d=%d ' % (i, j, i*j))
4     print('')
```
* print(' ')는 2 단, 3 단 등을 구분하기 위해 사용

In [ ]:
for i in range(2,10): # 1번 for문
    for j in range(1, 10): # 2번 for문
        print('%d*%d=%d ' % (i, j, i*j))
    print('')

```
for i in range(10):
  print(i)

for i in range(10):
  print(i, end=' ')
  ```

* print() 함수에서 end=' ' 를 사용해서 숫자를 한 줄에 출력하도록 할 수 있다.

In [ ]:
for i in range(10):
    print(i)
for i in range(10):
    print(i, end=' ')

0
1
2
3
4
5
6
7
8
9
0 1 2 3 4 5 6 7 8 9

```
for i in range(1, 11, 2):
  print(i, end=' ')
  ```

* range(시작값,종료값, 간격) 
* 세번째 숫자는 간격(step)이다.

```
for i in range(11, 1, -2):
  print(i, end=' ')
  ```

In [ ]:
for i in range(1, 11, 2):
    print(i, end=' ')

1 3 5 7 9

In [ ]:
for i in range(11, 1, -2):
    print(i, end=' ')

11 9 7 5 3

range() + len()

```
fruits = ['apple', 'banana', 'orange']

for i in range(len(fruits)):
  print(i, fruits[i])
  ```

In [ ]:
fruits = ['apple', 'banana', 'orange']
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 orange