<a href="https://colab.research.google.com/github/chunheekim/study/blob/main/07%ED%95%A8%EC%88%982_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **매개변수 지정하여 호출하기**

In [2]:
#두 개의 숫자를 입력 받아 첫번째 수에서 두번째 수를 뺄셈하여 리턴하는 sub 함수이다.

def sub(a, b):
    return a - b

In [4]:
# 매개변수를 지정하여 사용할 수 있다.

result = sub(a=7, b=3) # a에 7, b에 3을 전달
print(result)

4

In [5]:
# 매개변수를 지정하면 다음과 같이 순서에 상관없이 사용할 수 있다는 장점이 있다.

result = sub(b=5, a=3) # b에 5, a에 3을 전달
print(result)

-2

# **여러 개의 입력값을 받는 함수**

**입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?**

입력값이 여러 개일 때 그 입력값을 모두 더해 주는 함수를 생각해 보자. 

하지만 몇 개가 입력될지 모를 때는 어떻게 해야 할까?
```
1  def 함수이름(*매개변수):
2      <수행할 문장 >
```

**여러 개의 입력값을 받는 함수 만들기**

여러 개의 입력값을 모두 더하는 함수를 만들어 보자. 

add_many(1, 2)이면 3 을, 

add_many(1,2,3)이면 6 을, 

add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)이면 55 를 리턴하는 함수를 만들어 보자.
```
## ⓐ

1  def add_many(*args):
2      result = 0
3      for i in args:
4          result = result + i
5      return result
```

In [6]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

위에서 만든 add_many 함수는 입력값이 몇 개이든 상관이 없다.

*args처럼 매개변수 이름 앞에 *을 붙이면 입력값을 전부 모아서 튜플로 만들어 주기 때문이다. 

add_many(1, 2, 3)처럼 이 함수를 쓰면 args 는 (1, 2, 3)이 되고, 

add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)처럼 쓰면 args 는 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)이 된다. 

여기에서 *args는 임의로 정한 변수이름이다.

args 는 인수를 뜻하는 영어 단어 arguments 의 약자이며 관례적으로 자주 사용한다.

작성한 add_many 함수를 다음과 같이 사용해 보자.
```
## ⓑ

1  result = add_many(1,2,3)
2  print(result)
3 
4  result = add_many(1,2,3,4,5,6,7,8,9,10)
5  print(result)
```

In [7]:
result = add_many(1,2,3)
print(result)
 
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55


여러 개의 입력을 처리할 때 def add_many(*args)처럼 함수의 매개변수로 *args 하나만 사용할 수 있는 것은 아니다.
다음 예를 보자.
```
## ⓒ

1 def add_mul(choice, *args):
2    if choice == "add":
3        result = 0
4        for i in args:
5            result = result + i
6    elif choice == "mul":
7        result = 1
8        for i in args:
9            result = result * i
10   return result

```

In [8]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

add_mul 함수는 여러 개의 입력값을 의미하는 *args 매개변수 앞에 choice 매개변수가 추가되어 있다.
이 함수는 다음과 같이 사용할 수 있다.
```
## ⓓ

1  result = add_mul('add', 1,2,3,4,5)
2  print(result)
3 
4  result = add_mul('mul', 1,2,3,4,5)
5  print(result)
6 
```
매개변수 choice 에 ’add’가 입력된 경우 *args에 입력되는 모든 값을 더해서 15 를 돌려주고, ’mul’ 이입력된 경우 *args에 입력되는 모든 값을 곱해서 120 을 리턴한다.

In [9]:
result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [ ]:
# ⓐ + ⓑ

def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

result = add_many(1,2,3)
print(result)
 
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [ ]:
# ⓒ + ⓓ

def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

result = add_mul('add', 1,2,3,4,5)
print(result)
 
result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

# **함수의 리턴값은 언제나 하나이다**

먼저 다음 함수를 만들어 보자.
```
## ⓔ

1  def add_and_mul(a,b):
2      return a+b, a*b
```

In [10]:
def add_and_mul(a,b):
    return a+b, a*b

add_and_mul 함수는 2 개의 입력 인수를 받아 더한 값과 곱한 값을 리턴하는 함수이다.
이 함수를 다음과 같이 호출하면 어떻게 될까?
```
## ⓕ

1  result = add_and_mul(3,4)
2  print(result)
```

In [11]:
result = add_and_mul(3,4)
print(result)

(7, 12)

리턴값은 a+b와 a*b  2 개인데 리턴값을 받아들이는 변수는 result 하나만 쓰였으니 오류가 발생하지 않을까? 

하지만 오류는 발생하지 않는다. 

함수의 리턴값은 2 개가 아니라 add_and_mul 함수의 리턴값 a+b와 a*b는 튜플값 하나인 (a+b, a*b)로 리턴된다.

따라서 result 변수는 다음과 같은 값을 갖게 된다.
```
1 result = (7, 12)
```
즉 결괏값으로 (7, 12) 라는 튜플 값을 갖게 되는 것이다.

만약 이 하나의 튜플 값을 2 개의 값으로 분리하여 받고 싶다면 다음과 같이 함수를 호출하면 된다.
```
## ⓖ

1  result1, result2 = add_and_mul(3, 4)
2  print(result1)
3  print(result2)
```
이렇게 호출하면 result1, result2 = (7, 12)가 되어 result1 은 7 이 되고 result2 는 12 가 된다.

In [12]:
result1, result2 = add_and_mul(3, 4)
print(result1)
print(result2)

7
12

다음과 같은 의문이 생길 수도 있다.
```
1  def add_and_mul(a,b):
2      return a+b
3      return a*b
```

In [13]:
def add_and_mul(a,b):
    return a+b
    return a*b

위와 같이 return 문을 2 번 사용하면 2 개의 리턴값을 돌려주지 않을까? 
add_and_mul 함수를 호출해 보면 알 수 있다.
```
1  result = add_and_mul(2, 3)
2  print(result)
```

In [14]:
result = add_and_mul(2, 3)
print(result)

5

add_and_mul(2, 3)의 리턴값은 5 하나뿐이다. 

두 번째 return 문인 return a*b는 실행되지 않았다는 뜻이다.

즉 함수는 return 문을 만나는 순간 리턴값을 돌려준 다음 함수를 빠져나가게 된다.

In [ ]:
# ⓔ + ⓕ + ⓖ

def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

result1, result2 = add_and_mul(3, 4)
print(result1)
print(result2)

(7, 12)
7
12

# **return 의 또 다른 쓰임새**

특별한 상황일 때 함수를 빠져나가고 싶다면 return 을 단독으로 써서 함수를 즉시 빠져나갈 수 있다. 
```
## ⓗ

1  def say_nick(nick):
2      if nick == " 바보 ":
3          return
4      print(" 나의 별명은 %s 입니다 ." % nick)

```
위 함수는’ 별명’을 입력으로 전달받아 출력하는 함수이다. 
문자열을 출력한다는 것과 리턴 값이 있다는 것은 전혀 다른 말이다. 
함수의 리턴 값은 오로지 return 문에 의해서만 생성된다.

In [15]:
def say_nick(nick):
    if nick == " 바보 ":
        return
    print(" 나의 별명은 %s 입니다 ." % nick)

In [17]:
## ⓘ

say_nick(' 야호 ')

 나의 별명은  야호  입니다 .

In [20]:
## ⓙ

say_nick(' 바보 ')

In [ ]:
# ⓗ + ⓘ

def say_nick(nick):
    if nick == " 바보 ":
        return
    print(" 나의 별명은 %s 입니다 ." % nick)

say_nick(' 야호 ')

 나의 별명은  야호  입니다 .

In [ ]:
# ⓗ + ⓙ

def say_nick(nick):
    if nick == " 바보 ":
        return
    print(" 나의 별명은 %s 입니다 ." % nick)
  
say_nick(' 바보 ')

# **함수 안에서 선언한 변수의 효력 범위**

함수 안에서 사용할 변수의 이름을 함수 밖에서도 동일하게 사용한다면 어떻게 될까? 다음 예를 보자.
```
## ⓚ

1  # vartest.py
2  a = 1
3  def vartest(a):
4      a = a +1
5  vartest(a)
7  print(a)
```
먼저 a 라는 변수를 생성하고 1 을 대입했다. 

그리고 입력으로 들어온 값에 1 을 더해 주고 결괏값은 리턴하지 않는 vartest 함수를 선언했다. 

그리고 vartest 함수에 입력값으로 a 를 주었다. 

마지막으로 a 의 값을 print(a)로 출력했다.

과연 어떤 값이 출력될까?

In [21]:
# ⓚ

a = 1
def vartest(a):
    a = a +1

vartest(a)
print(a)

1

vartest 함수에서 매개변수 a 의 값에 1 을 더했으니까 2 가 출력될 것 같지만 프로그램 소스를 작성해서 실행해 보면 결괏값은 1 이 나온다. 

그 이유는 함수 안에서 사용하는 매개변수는 함수 안에서만 사용하는 “함수만의 변수” 이기 때문이다. 

즉 def vartest(a)에서 입력값을 전달받는 매개변수 a 는 함수 안에서만 사용하는 변수이지 함수 밖의 변수 a 와는 전혀 상관이 없다는 뜻이다.

다음 예를 보면 더욱 분명하게 이해할 수 있을 것이다.
```
## ⓜ

1  # vartest_error.py
2  def vartest(a):
3      a = a + 1
4
5  vartest(3)
6  print(a)
```
위 프로그램 소스를 에디터로 작성해서 실행하면 어떻게 될까?

vartest(3)을 수행하면 vartest 함수 안에서 a 는 4 가 되지만 함수를 호출하
고 난 뒤에 print(a) 문장은 오류가 발생하게 된다. 

그 이유는 print(a) 에서 사용한 a 변수를 어디에서도 찾을 수가 없기 때문이다.

즉, 함수 안에서 선언한 매개변수는 함수 안에서만 사용될 뿐 함수 밖에서는 사용되지 않는다.

In [ ]:
# ⓜ

def vartest(a):
  a = a + 1

vartest(3)
print(a)

# **함수 안에서 함수 밖의 변수를 변경하는 방법**

vartest 라는 함수를 사용해서 함수 밖의 변수 a 를 1 만큼 증가시킬 수 있는 방법은 없을까? 

**1. return 사용하기**
```
## ⓝ

1  # vartest_return.py
2  a = 1
3  def vartest(a):
4      a = a +1
5  return a
6
7  a = vartest(a)
8  print(a)
```
첫 번째 방법은 return 을 사용하는 방법이다. 

vartest 함수는 입력으로 들어온 값에 1 을 더한값을 리턴하도록 변경했다. 

따라서 a = vartest(a)라고 작성하면 a 에는 vartest 함수의 리턴값이 대입된다.

여기에서도 물론 vartest 함수 안의 a 매개변수는 함수 밖의 a 와는 다른 것이다.

In [ ]:
# ⓝ
a = 1
def vartest(a):
    a = a +1
    return a

a = vartest(a)
print(a)

2

**2. global 명령어 사용하기**
```
## ⓞ

1  # vartest_global.py
2  a = 1
3  def vartest():
4     global a
5     a = a+1
6
7  vartest()
8  print(a)
```
두 번째 방법은 global 명령어를 사용하는 방법이다. 

위 예에서 볼 수 있듯이 vartest 함수 안의 global a 문장은 함수 안에서 함수 밖의 a 변수를 직접 사용하겠다는 뜻이다. 

하지만 프로그래밍을 할 때 global 명령어는 사용하지 않는 것이 좋다. 

왜냐하면 함수는 독립적으로 존재하는 것이 좋기 때문이다. 외부 변수에 종속적인 함수는 그다지 좋은 함수가 아니다. 

그러므로 가급적 global 명령어를 사용하는 이 방법은 피하고 첫 번째 방법을 사용하기를 권한다.

In [ ]:
# ⓞ

a = 1
def vartest():
    global a
    a = a+1

vartest()
print(a)

2

# **lambda**

lambda 는 함수를 생성할 때 사용하는 예약어로 def 와 동일한 역할을 한다. 

보통 함수를 한줄로 간결하게 만들 때 사용한다. 

def 를 사용해야 할 정도로 복잡하지 않는 곳에 주로 쓰인다.

사용법은 다음과 같다.
```
함수명 = lambda 매개변수 1, 매개변수 2, … : 매개변수를 이용한 표현식
```

```
## ⓟ

1  add = lambda a, b: a+b
2  result = add(3, 4)
3  print(result)
```
lambda 로 만든 함수는 return 명령어가 없어도 표현식의 결괏값을 리턴한다.

In [ ]:
# ⓟ

add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

add 는 두 개의 인수를 받아 서로 더한 값을 리턴하는 lambda 함수이다. 

위 예제는 def 를 사용한 다음 함수와 하는 일이 동일하다.
```
1  def add(a, b):
2      return a+b
3 
4  result = add(3, 4)
5  print(result)
```

In [ ]:
def add(a, b):
    return a+b
 
result = add(3, 4)
print(result)

7